h1 {
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 50px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.font {
    font-size: xx-large;
}

.s {
    color: #de152d;
}

.myself {
    font-size: 24px;
    background-color: pink;
    border: 10px solid brown;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}

.samia {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 1%;
}

.half-width img {
    width: 90%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(red, brown);
    font-weight: 900;
    padding: 10px;
    color: antiquewhite;
    border-radius: 5px;

}

body {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.pink {
    color: pink;
}

.queen {
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Oswald', sans-serif;
}

.on2 img {
    width: 75%;
}

.samia {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.rose {
    color: #c00e0ecc;
    text-align: center;
}

.cl {
    color: purple;
    font-size: x-large;
}

.shadow {
    box-shadow: 10px 10px 10px gray;
    margin-left: 90px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 20px;

}

.no {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.on {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.sep {
    border-left: 10px solid blue;

}

.sep2 {
    border-left: 10px solid lawngreen;
}

footer p {
    text-align: center;
}